.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    gap: 35px;
    width: 100%;
    height: 72px;
    left: 0px;
    top: 0px;
    background: #373737;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
  }

  .title{
    
    background: url(../../assets/Logo.png);
    width: 200px;
    height: 78px;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.texto {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase; 
    white-space: nowrap;
  }


.createBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    width: 142px;
    height: 48px;
    background: #E8500E;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: fit-content; 
    min-width: 142px; 
}

.createBtn:hover {
    cursor: pointer;
    background: #C20505;;
    color: #FFFFFF;
  }

  .buttonContainer {
    display: flex;
    gap: 10px;
    align-items: center;
  }

.otherBtn{
    box-sizing: border-box;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 16px;

width: 145px;
height: 48px;
background: #FFFFFF;
border: 2px solid #E8500E;
border-radius: 8px;

flex: none;
order: 3;
flex-grow: 0;
}

.otherBtnText {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    color: #E8500E;
    text-transform: uppercase; 
    white-space: nowrap;
  }

  .otherBtn:hover{
    cursor: pointer;
    background: #C20505;
  }

  .otherBtn:hover .otherBtnText{
    color: #FFFFFF;
  }

  .searchBarContainer{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 8px 24px;
gap: 24px;
position: relative;
width: 100%;
height: 64px;
background: #C20505;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

.searchInput{
    
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 0px 16px;
gap: 8px;
width: 275px;
height: 48px;
background: #FFFFFF;
border-radius: 12px;
flex: none;
order: 1;
flex-grow: 1;
  }

input{
  border: none;
}

  .container{
    display: flex;
    width: 800px;
    justify-content: space-between;
  }

.searchContainer{
    display: flex;
}
.searchText{
    position:relative;
    top: 15px;
    left: -16px;
    width: 37px;
    height: 16px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 16.5px;
    line-height: 16px;
color: #FFFFFF;
}

.filterText{
    position:relative;
    top: 15px;
    left: -80px;
    width: 37px;
    height: 16px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 16.5px;
    line-height: 16px;
color: #FFFFFF;
white-space: nowrap;
}

.searchBtn{
position:relative;
left: -25px;
height: 48px;
width: 48px;
background: none;
font-size: 1.5rem;
}
.dataInput{
    font-family: 'Avenir';
    font-style: normal;
    font-size: 20px;
    border: none;
    outline: none;
}


.selectContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 16px;
    gap: 8px;
    width: 275px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 12px;
    flex: none;
    order: 1;
    flex-grow: 1;
  }
  
  .selectContainer select {
    flex: 1;
    height: 100%;
    background: none;
    border: none;
    font-family: 'Avenir';
    font-style: normal;
    font-size: 20px;
    appearance: none; 
  }
