.image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../../../assets/fondo2.png) center/cover no-repeat;
}

.typeBtnContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .toggleButton {
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 8px 16px;
    background-color: #949292;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Avenir';
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;

  }


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 40px;
    position: absolute;
    width: 864px;
    height: 576px;
    left: calc(50% - 864px/2);
    top: calc(50% - 576px/2);
    background: #FFFFFF;
    border-radius: 20px;
    text-align: left;
  }

  .formLabel {
    width: 360px;
    height: 16px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    color: #A0A1A4;
    margin-left: 0;
  }
  
  .alignLeft {
    text-align: left;
  }

  .alignType{
    text-align: left;
    margin-left: 10px;
  }

  .fileAlign{
    display: flex;
    flex-direction: raw;
  }

  .typeContainer{
    width: 800px;
    margin: 10px;
  }

  .formInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 16px;
    gap: 8px;
    width: 256px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 12px;
  }

  .formInput::placeholder {
    width: 344px;
    height: 24px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
  }

  .celAlign{
    margin: 8px;
  }

  .formButton {
    font-family: 'Avenir';
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 16px;
    width: 800px;
    height: 56px;
    background: #E8500E;
    border-radius: 8px;
    margin: 15px;
    cursor: pointer;
  }

  .titleText {
    width: 700px;
    font-family: 'Avenir';
    font-weight: 800;
    font-size: 35px;
    line-height: 40px;
    color: #1F1F1F;
    text-align: left;
  }

  .btn {
    background: url(../../../assets/Vector.svg) center/cover no-repeat;
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    left: 30px;
    top: 43px;
    order: 0;
    cursor: pointer;
  }

   
  .errorScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    z-index: 9999;
  }
  
  .errorScreen p {
    margin: 40px;
    font-size: 40px;
  }


  
  .normal {
    background: #D3CFC8;
  }
  
  .fighting {
    background: #A30A0A;
  }
  
  .flying {
    background: #BCA2DC;
  }
  
  .poison {
    background: #AF2AAA;
  }
  
  .ground {
    background: #AA5C13;
  }
  
  .rock {
    background: #C49439;
  }
  
  .bug {
    background: #ABC609;
  }
  
  .ghost {
    background: #8831CC;
  }
  
  .steel {
    background: #878787;
  }
  
  .water {
    background: #3389EE;
  }
  
  .fire {
    background: #FF2E00;
  }
  
  .grass {
    background: #41AC1B;
  }
  
  .electric {
    background: #FFC700;
  }
  
  .psychic {
    background: #FF56A7;
  }
  
  .ice {
    background: #8FDDFE;
  }
  
  .dragon {
    background: #681A8D;
  }
  
  .dark {
    background: #4D4750;
  }
  
  .fairy {
    background: #E685EE;
  }
  
  .unknown {
    background: #878787;
  }
  
  .shadow {
    background: #5C5353;
  }
  