.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    gap: 35px;
    /* position: absolute; */
    width: 100%;
    height: 72px;
    left: 0px;
    top: 0px;
    background: #373737;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
  }

  .title{
    
    background: url(../../assets/Logo.png);
    width: 200px;
    height: 78px;
    background-size: contain; /* Ajusta el tamaño de la imagen para que quepa dentro del contenedor manteniendo la relación de aspecto */
    background-repeat: no-repeat;
    background-position: center;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.loginBtn{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 16px;

width: 142px;
height: 48px;

/* Primery */

background: #E8500E;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.loginBtn:hover {
    cursor: pointer;
    background: #C20505;;
    color: #FFFFFF;
  }

.texto{

height: 20px;

/* GS Button */

font-family: 'Avenir';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.image {
    display: flex;
    flex-direction: column;
    position: relative; /* Cambiamos a posicionamiento relativo */
    width: 100%;
    height: 100vh; /* Establece la altura al 100% de la ventana del navegador */
    left: 0;
    top: 0;
    background: url(../../assets/fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position-y: -100; */
    /* background-attachment: fixed; */
  }

  .loadingScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    z-index: 9999;
  }
  
  .loadingScreen p {
    font-size: 24px;
  }